html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #554f12;
}

.colpok{
   /*background-color: rgba(255, 255, 255, 0.1);*/
   border: 1px solid rgba(20, 10, 10, 0.623);
   border-radius: 8px;
   /*transition: transform 0.3s, box-shadow 0.3s;*/
   text-align: center;
   padding: 10px;
   background-color: black;
}

.colpok:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

.colpok img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 305px;
  height: 250px;
  object-fit: cover;
  padding-left: 10px;
  text-align: center;
}

.colpok .card-body {
  text-align: center;
  background-color:#FFEFD5;
}
